html{
    font-family: sans-serif;
}

@font-face {
    font-family: 'gotham black';
    src: url('https://paginas-recrutador.s3.amazonaws.com/gotham-black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

#top {
    background-color: black;
}
.container-title{
    align-items: center;    
    flex:1;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-title1{
    align-items: center;
}

.title1{
    font-family: 'gotham black';
    font-size: 100px; 
    margin-bottom: -35px; 
    font-weight:bold; 
    color:rgb(255,200,36)    
}

.container-title2{
    margin-top: -40px;
}

.title2{    
    font-size: 46px;      
    letter-spacing:-0.05em;    
}

.container-title3{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    text-align: center;
}
.title3{    
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}

.container-title4-legends-top{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 50px;
}

.container-title4-legends-bottom{
    display: flex; 
    flex-direction: row; 
    justify-content: center;     
}

.container-title4-texts{
    width: 140px;
    display: flex; 
    flex-direction: column;
    line-height: 18px;
}

.title4-text-title-legends{
    font-size: 18px; 
    font-weight: bold; 
    color: #A0A09F
}

.title4-text-legends{
    font-size: 14px;     
    color: #A0A09F
}

.title4-graphic{
    display: flex; 
    align-items: center; 
    justify-content:center; 
    flex-direction: row;
}

.line-graphic{
    width: 100px; 
    border: 2px solid; 
    color: #CCCCCC;     
}

.circle-graphic{
    width: 40px; 
    height: 40px;        
    background-color: #CCCCCC;
    border-radius: 40px;
}

.container-description-title1{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
}

.description-title1{
    font-size: 21px; 
    font-weight: bold;
    line-height: 30px;
}

.container-description1{
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

.text-description1{
    font-size: 28px;
}

.container-description-title2{    
    margin-bottom: 60px;
    width: 70%;
    text-align: center;
    line-height: 30px;
}

.description-title2{    
    font-size: 37px; 
    font-weight: 900;    
}

.description-title3{    
    font-size: 37px; 
    font-weight: 900;
    color:rgb(255,200,36)
}

.image-quadrante{
    width: 448px;
    height: 499px;    
}

.container-description2-title{
    margin-bottom: 20px; 
    text-align: center; 
    justify-content: center
}

.description2-title-text{
    font-size: 51px; 
    font-weight: bold; 
    line-height: 0.8em
}

.container-description2{
    flex-direction: row;
    width: 85%;    
}

.container-description2-text{
    margin-bottom: 20px;
    width: 70%;
    margin-left: 30%;
}

.description2-text{
    font-size: 22px
}

.container-description3-title{
    margin-top: 50px;
    text-align: center; 
    margin-bottom: 20px;
    width: 67%;    
}

.description3-title{
    font-family: 'gotham black';
    font-size: 50px; 
    font-weight: 900;     
    line-height: 0.9em;
    text-align: center;
}

.container-description3-text{    
    margin-bottom: 20px;
    width: 65%;
    text-align: center;
    line-height: 20px;
}

.description3-text{
    font-size: 20px;
}

.description4-title{
    font-size: 21px;    
}

.container-description4{    
    margin: 20px; 
    text-align: center; 
    margin-bottom: 20px;
}

.container-description4-title{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;  
}

.container-description4-text{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;   
}

.description4-text{    
    font-size: 21px;
}

.container-video{
    margin-top: 30px;
    height: 472px; 
    width: 840px;
    margin-bottom: 50px;    
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.container-description5{    
    text-align: center;     
    margin-bottom: 20px;
    margin-top: 60px;
    width: 75%;
}

.container-description5-title{
    margin-bottom: 40px;    
}

.description5-title1{
    font-size: 41px; 
    font-weight: 900; 
    line-height: 0.9; 
    letter-spacing: 0em;
}

.description5-title2{    
    font-size: 35px;     
    line-height: 0.9; 
    letter-spacing: 0em;          
}

.container-description5-text{    
    margin-bottom: 20px;
    text-align: justify;             
}

.description5-text{
    font-size: 18px;
    line-height: 1.6em;
}

.description5-text2{    
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6em;
}

.div-description5{
    width: 250px; 
    border-color: black; 
    border-bottom-style: solid; 
    margin: 50px; 
    margin-left: 35%;
}

.container-description6{
    flex-direction: row; 
    align-items: center; 
    text-align: center;    
    margin-bottom: 20px;
    width: 75%;
}

.container-description6-title{
    margin-top: 30px;
}

.description6-title{
    font-family: 'gotham black';
    font-size: 53px;
}

.container-description6-text{
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

.description6-text{
    font-size: 22px;
}

.container-description6-images{
    display: flex;
}

.description6-images{
    margin: 20px; 
    text-align: center; 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;    
}

.image-style{
    width: 81px; 
    height: 81px; 
    object-fit: cover; 
    object-position: 50% 50%;
}

.container-legend-image{
    width: 100%;
}

.legend-image{
    font-size: 18px;
}

.container-description7{
    display: flex;        
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    width: 75%;
}

.description7-title1{    
    font-size: 59px; 
    font-weight: 900; 
    letter-spacing: 0em; 
    line-height: 0.9em;
    text-align: center;
}

.container-description7-title{    
    width: 60%;
    margin-top: 20px; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.container-description7-text{
    flex:1;
    margin-bottom: 20px;
    justify-content: center;
    text-align: justify;
}

.description7-text{
    font-size: 18px;
}

.container-description8{
    margin-bottom: 20px;     
    text-align: center;    
    text-align: justify;
}

.container-description8-title{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
}

.description8-title{
    font-size: 30px;
    font-weight: bold;
}

.container-description8-text{
    text-align: center;
    margin-bottom: 20px;
    width: 72%;
    margin-left: 14%;
}

.description8-text{
    font-size: 20px;     
    letter-spacing: 0em;
    line-height: 1em;
}

.button-next{
    font-size: 40px; 
    font-weight: 900;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #04BF39;
}

.btnCustom{
    background-color: #04BF39;        
    transition: .4s ease all;
    color: white
}

.btnCustom:hover{
    color: white;
    opacity: 0.7;
}

.container-description9{
    margin-top: 50px;
    width: 48%;
    text-align: center;
    line-height: 20px;    
}

.description9-text{
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}

.container-description10{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    text-align: center;    
    margin-top: 20px;
}

.container-description10-foto{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 10px;
}

.description10-foto{    
    width: 214px;
    height: 214px; 
    border-radius: 214px;
    background-color: grey;
}

.container-description10-infos{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    margin-top: 20px;
}

.container-description10-text{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 20px;
    margin-bottom: -80px;
}

.container-description10-contact{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;    
    line-height: 20px;
}

.container-description10-social{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
    line-height: 20px;    
    margin-top: -90px;
}

.description10-nome{
    font-size: 31px;
    font-weight: bold;
}

.description10-titulo{
    font-size: 15px;
    font-style: italic;
}

.description10-telefone{
    font-size: 18px
}

.description10-email{
    font-size: 18px
}

.description10-perfil{
    font-size: 18px;
    margin-left: 10px;
}

.description10-text{
    font-size: 14px;
}

.container-description11{
    flex: 1;
    text-align: center;
    margin: 20px;
    margin-top: -40px;
    margin-bottom: 100px;
}

.description11-text{
    font-size: 14px;
}

@media (max-width: 992px) {

    .container-title{
        align-items: center;    
        flex:1;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .container-title1{
        align-items: center;
        margin-bottom: 10px;
    }

    .title1{
        font-family: 'gotham black';
        font-size: 47px;         
        font-weight:900; 
        color:rgb(255,200,36)
    }

    .container-title2{
        margin-top: -30px;
    }

    .title2{
        font-family: 'gotham black';
        font-size: 21px;  
        font-family: sans-serif; 
        letter-spacing:-0.05em
    }

    .container-title3{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .title3{
        font-size: 13px;
        font-weight: bold;
        line-height: 15px;
    }

    .container-title4-legends-top{
        display: flex; 
        flex: 1;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        margin-left: 50%;
        margin-top: 50px;        
        margin-bottom: 0px;        
    }

    .container-title4-legends-bottom{
        display: flex; 
        flex: 1;
        flex-direction: column; 
        justify-content: center;
        text-align: right;
        margin-top: -240px;
        align-items: center;
        margin-right: 50%;
    }
    
    .container-title4-texts{
        height: 65px;
        display: flex; 
        flex-direction: column
    }

    .title4-graphic{        
        display: flex; 
        align-items: center; 
        justify-content:center; 
        flex-direction: column;
        margin-top: -260px;
    }

    .line-graphic{
        width: 2px;
        height: 45px; 
        border: 2px solid; 
        color: #CCCCCC; 
        margin: -10px;
    }
    
    .circle-graphic{
        width: 40px; 
        height: 40px;        
        background-color: #CCCCCC;
        border-radius: 40px;
    }

    .container-description-title1{
        margin-top: 40px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .description-title1{
        font-size: 18px; 
        font-weight: bold;
    }

    .container-description1{        
        width: 100%;
        text-align: center;
    }
    
    .text-description1{
        font-size: 15px;
        text-align: justify;
    }

    .container-description-title2{        
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    
    .description-title2{        
        font-size: 18px; 
        font-weight: 900;        
    }

    .description-title3{        
        font-size: 18px; 
        font-weight: 900;
        color:rgb(255,200,36)
    }
    

    .container-description2{
        flex-direction: column;
        width: 100%;        
    }

    .container-description2-title{
        margin-bottom: 20px; 
        text-align: center; 
        justify-content: center;
        margin-bottom: 400px;
        margin-top: -420px;
    }
    
    .description2-title-text{
        font-size: 30px; 
        font-weight: bold; 
        line-height: 0.8em
    }

    .container-description2-text{
        margin-bottom: 20px;
        width: 100%;
        margin-left: -10%;
        text-align: justify;
    }
    
    .description2-text{
        font-size: 12px;        
    }
    

    .container-description3-title{
        margin-top: 50px;
        text-align: center; 
        margin-bottom: 20px;
        width: 100%;    
    }
    
    .description3-title{
        font-family: 'gotham black';
        font-size: 28px; 
        font-weight: 900;     
        line-height: 0.9em;
    }
    
    .container-description3-text{        
        text-align: center; 
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }
    
    .description3-text{
        font-size: 16px; 
        text-align: justify
    }

    .container-description4{    
        margin: 0; 
        text-align: center; 
        margin-bottom: 20px;    
        width: 100%;        
    }
    
    .container-description4-title{
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;  
    }

    .description4-title{
        font-size: 21px;        
    }
    
    .container-description4-text{
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        margin-left: 0;        
    }
    
    .description4-text{
        font-size: 16px;
    }

    .container-video{
        margin-top: 10px;
        height: 200px;
        width:100%;
        background-color: black;
        align-items: center;
        justify-content: center;
    }

    .container-description5{
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }

    .container-description5-title{
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
    }

    .description5-title1{
        font-size: 23px; 
        font-weight: 900; 
        line-height: 0.9; 
        letter-spacing: 0em;
    }
    
    .description5-title2{    
        font-size: 18px;     
        line-height: 0.9; 
        letter-spacing: 0em;          
    }

    .container-description5-text{    
        margin-bottom: 20px;
        text-align: justify;         
        margin-left: 0;
    }
    
    .description5-text{
        font-size: 18px
    }

    .div-description5{
        margin-left: 0;
        flex:1;
        width: 100%;
        border-color: black; 
        border-bottom-style: solid; 
        margin-top: 50px;         
        margin-bottom: 50px;         
        text-align: center;
    }

    .container-description6{
        flex-direction: row; 
        align-items: center; 
        text-align: center;
        margin-bottom: 0;
        width: 100%;        
    }

    .container-description6-title{
        margin-top: 30px;
    }
    
    .description6-title{
        font-family: 'gotham black';
        font-weight: bold;
        font-size: 29px;
    }

    .container-description6-text{
        text-align: justify;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    
    .description6-text{
        font-size: 18px;
    }

    .container-description6-images{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 15%;
        align-items: center;
    }

    .container-description7{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
    }
    
    .container-description7-title{        
        width: 100%;        
        align-items: center; 
        justify-content: center;
        text-align: center;
    }

    .description7-title1{
        font-size: 25px; 
        font-weight: bold; 
        letter-spacing: 0em; 
        line-height: 0.9em
    }
    
    .description7-title2{
        font-size: 50px; 
        font-weight: 900; 
        color:rgb(255,200,36);
        letter-spacing: 0em; 
        line-height: 0.9em;
    }

    .container-description7-text{
        flex:1;        
        width: 100%;
    }

    .description7-text{
        font-size: 16px;
    }

    .container-description8{
        margin-top: 20px;
        margin-bottom: 20px; 
        width: 100%;        
        margin-left: 0;
    }
    
    .container-description8{
        margin-bottom: 0;     
        text-align: center;    
        text-align: justify;
    }
    
    .container-description8-title{
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .description8-title{
        font-size: 20px;
        font-weight: bold;
    }
    
    .container-description8-text{
        text-align: justify;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
    }
    
    .description8-text{
        font-size: 16px;     
        letter-spacing: 0em;
        line-height: 1em;
    }

    .image-quadrante{
        margin-top: 100px;
        width: 350px;
        height: 350px;    
    }

    .button-next{
        font-size: 30px; 
        font-weight: 900;
        margin: 10px;
        margin-top: 25px;
        margin-bottom: 25px;        
        
    }

    .container-description9{
        margin-top: 50px;
        width: 100%;
        text-align: center;
        line-height: 20px;    
    }
    
    .description9-text{
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .container-description10{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;    
        margin-top: 20px;
    }
    
    .container-description10-foto{
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 10px;
    }
    
    .description10-foto{    
        width: 214px;
        height: 214px; 
        border-radius: 214px;
        background-color: grey;
    }

    .container-description10-infos{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        margin-top: 0;
    }
    
    .container-description10-text{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;
        margin: 10px;        
    }

    .container-description10-contact{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }

    .container-description10-social{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
        margin-top: 0;
        margin: 10px;
    }
    
    .description10-nome{
        font-size: 31px;
        font-weight: bold;
    }
    
    .description10-titulo{
        font-size: 15px;
        font-style: italic;
    }
    
    .description10-telefone{
        font-size: 18px
    }
    
    .description10-email{
        font-size: 18px
    }
    
    .description10-perfil{
        font-size: 18px
    }
    
    .description10-text{
        font-size: 14px;
    }

    .container-description11{
        flex: 1;
        text-align: center;
        margin: 20px;
        
        margin-bottom: 100px;
    }
    
    .description11-text{
        font-size: 10px;
    }
    
}